<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FaceBook</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>

    <nav>

        <div class="left">

            <div class="logo">
                <img src="{{ url_for('static', filename='image/Llogo.png') }}">
            </div>

            <div class="search_bar">

                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Search FaceBook">

            </div>

        </div>

        <div class="center">

            <i class="fa-solid fa-house"></i>
            <i class="fa-solid fa-tv"></i>
            <i class="fa-solid fa-store"></i>
            <i class="fa-solid fa-users"></i>

        </div>

        <div class="right">

            <i class="fa-solid fa-list-ul"></i>
            <i class="fa-brands fa-facebook-messenger"></i>
            <i class="fa-solid fa-bell"></i>
            <i class="fa-solid fa-moon"></i>
            <img src="{{ url_for('static', filename='image/profile.png') }}">

        </div>

    </nav>




    <!------------main--------------->

    <div class="main">

        <!------------------left------------------->

        <div class="left">

            <div class="img">
                <img src="{{ url_for('static', filename='image/profile.png') }}">
                <p>ِAhmed Ali</p>
            </div>

            <div class="img">

                <img src="{{ url_for('static', filename='image/friend.png') }}">

                <p>Friends</p>
            </div>

            <div class="img">
                <img src="{{ url_for('static', filename='image/saved.png') }}">
                <p>Saved</p>
            </div>


            <div class="img">
                <img src="{{ url_for('static', filename='image/group.png') }}">
                <p>Groups</p>
            </div>

            <div class="img">
                <img src="{{ url_for('static', filename='image/marketplace.png') }}">
                <p>Marketplace</p>
            </div>

            <div class="img">
                <img src="{{ url_for('static', filename='image/watch.png') }}">
                <p>Watch</p>
            </div>

            <div class="img">
                <img src="{{ url_for('static', filename='image/down_arrow.png') }}">
                <p>See more</p>
            </div>

            <hr>

            <h2>You shortcuts</h2>
            <p class="edit">Edit</p>

            <div class="shortcuts">
                <img src="{{ url_for('static', filename='image/shortcuts_1.png') }}">
                <p>MOBILE GAMES</p>
            </div>

            <div class="shortcuts">
                <img src="{{ url_for('static', filename='image/shortcuts_2.jpeg') }}">
                <p>Online Education</p>
            </div>

            <div class="shortcuts">
                <img src="{{ url_for('static', filename='image/shortcuts_3.webp') }}">
                <p>Food Lovers</p>
            </div>

            <div class="shortcuts">
                <img src="{{ url_for('static', filename='image/shortcuts_4.png') }}">
                <p>Social Media Academy</p>
            </div>

            <div class="shortcuts">
                <img src="{{ url_for('static', filename='image/shortcuts_5.webp') }}">
                <p>PC Shop</p>
            </div>

            <div class="shortcuts">
                <img src="{{ url_for('static', filename='image/down_arrow.png') }}">
                <p>See more</p>
            </div>

        </div>

        <!------------center---------------------->

        <div class="center">

            <div class="top_box">

                <div class="my_story_card">
                    <img src="{{ url_for('static', filename='image/story_1.png') }}">

                    <div class="story_upload">
                        <img src="{{ url_for('static', filename='image/upload.png') }}">
                        <p class="story_tag">Create story</p>
                    </div>

                </div>

                <div class="story_card">
                    <img src="{{ url_for('static', filename='image/story_2.jpg') }}">

                    <div class="story_profile">
                        <img src="{{ url_for('static', filename='image/profile_1.jpg') }}">
                        <div class="cricle"></div>
                        
                    </div>

                    <div class="story_name">
                        <p class="name">Charith Disanayaka</p>
                    </div>

                </div>

                <div class="story_card">
                    <img src="{{ url_for('static', filename='image/story_3.jpg') }}">


                    <div class="story_profile">
                        <img src="{{ url_for('static', filename='image/profile_2.jpg') }}">
                        <div class="cricle"></div>
                        
                    </div>

                    <div class="story_name">
                        <p class="name">Minidu Thiranjana</p>
                    </div>

                </div>

                <div class="story_card">
                    <img src="{{ url_for('static', filename='image/story_4.png') }}">


                    <div class="story_profile">

                        <img src="{{ url_for('static', filename='image/profile_3.jpg') }}">
                        <div class="cricle"></div>
                        
                    </div>

                    <div class="story_name">
                        <p class="name">Kavisha Vidurangi</p>
                    </div>

                </div>

                <div class="story_card">
                    <img src="{{ url_for('static', filename='image/story_5.jpg') }}">
                
                    <div class="story_profile">
                        <img src="{{ url_for('static', filename='image/profile_4.png') }}">
                        <div class="cricle"></div>
                    </div>
                
                    <div class="story_name">
                        <p class="name">Kavindu Akalanka</p>
                    </div>
                </div>
                
                

            </div>

            <div class="my_post">

                <div class="post_top">
                    <img src="{{ url_for('static', filename='image/profile.png') }}">
                    <input type="text" placeholder="What's on your mind, John?">
                </div>
            
                <hr>
            
                <div class="post_bottom">
            
                    <div class="post_icon">
                        <i class="fa-solid fa-video red"></i>
                        <p>Live video</p>
                    </div>
            
                    <div class="post_icon">
                        <i class="fa-solid fa-images green"></i>
                        <p>Photo/video</p>
                    </div>
            
                    <div class="post_icon">
                        <i class="fa-regular fa-face-grin yellow"></i>
                        <p>Feeling/activity</p>
                    </div>
            
                </div>
            
            </div>
            

            <div class="room">
                <div class="room_image">
                    <img src="{{ url_for('static', filename='image/live_video.png') }}">
                    <p class="room_tag">Create room</p>
                </div>
            
                <div class="room_profile">
                    <img src="{{ url_for('static', filename='image/profile_1.jpg') }}">
                    <img src="{{ url_for('static', filename='image/profile_2.jpg') }}">
                    <img src="{{ url_for('static', filename='image/profile_3.jpg') }}">
                    <img src="{{ url_for('static', filename='image/profile_4.png') }}">
                    <img src="{{ url_for('static', filename='image/profile_5.png') }}">
                    <img src="{{ url_for('static', filename='image/profile_6.png') }}">
                    <img src="{{ url_for('static', filename='image/profile_7.png') }}">
                    <img src="{{ url_for('static', filename='image/profile_8.png') }}">
                </div>
            </div>
            
       

            <div class="friends_post">

                <div class="friend_post_top">

                    <div class="img_and_name">
                        <img src="{{ url_for('static', filename='image/NBE.png') }}">

                        <div class="friends_name">
                            <p class="friends_name">
                               البنك الاهلي المصري
                            </p>
                            <p class="time">16h.<i class="fa-solid fa-user-group"></i></p>
                        </div>
                        

                    </div>

                    <div class="menu">

                        <i class="fa-solid fa-ellipsis"></i>

                    </div>

                </div>

                <img src="{{ url_for('static', filename='image/q.jpg') }}">

                <div class="info">

                    <div class="emoji_img">
                        <img src="{{ url_for('static', filename='image/like.png') }}">
                        <img src="{{ url_for('static', filename='image/haha.png') }}">
                        <img src="{{ url_for('static', filename='image/heart.png') }}">
                        <p>You, Charith Disanayaka and 25K others</p>
                    </div>

                    <div class="comment">
                        <p>421 Comments</p>
                        <p>1.3K Shares</p>
                    </div>

                </div>

                <hr>

                <div class="like">

                    <div class="like_icon">
                        <i class="fa-solid fa-thumbs-up activi"></i>
                        <p>Like</p>
                    </div>

                    <div class="like_icon">
                        <i class="fa-solid fa-message"></i>
                        <p>Comments</p>
                    </div>

                    <div class="like_icon">
                        <i class="fa-solid fa-share"></i>
                        <p>Share</p>
                    </div>

                </div>

                <hr>

                <!-- <div class="comment_warpper">

                    <img src="image/profile.png">
                    <div class="circle"></div>

                    <div class="comment_search">

                        <input type="text" placeholder="Write a comment">
                        <i class="fa-regular fa-face-smile"></i>
                        <i class="fa-solid fa-camera"></i>
                        <i class="fa-regular fa-note-sticky"></i>

                    </div>

                </div> -->

                <div id="commentsSection">
                    <!-- Existing comments will be dynamically loaded here -->
                </div>
            
                <div class="comment_wrapper">
                    <img src="{{ url_for('static', filename='image/profile.png') }}" alt="Profile Picture" style="width: 50px; height: 50px;">
                    <!-- <p style="color: #888;">John Deo:</p> -->

                    <div class="comment_search">
                        <form id="questionForm" class="questionForm">
                            <textarea class="form-control" id="question" rows="3" placeholder="Write a comment" required></textarea>
                            <i class="fa-regular fa-face-smile"></i>
                            <i class="fa-solid fa-camera"></i>
                            <i class="fa-regular fa-note-sticky"></i>
                            <button type="submit" class="btn btn-primary">Post</button>
                        </form>
                    </div>
                </div>

                <div class="friends_post">

                    <div class="friend_post_top">
    
                        <div class="img_and_name">
    
                            <img src="{{ url_for('static', filename='image/profile_9.png') }}">
                            <div class="friends_name">
                                <p class="friends_name">
                                    Senuda De Silva
                                </p>
                                <p class="time">16h.<i class="fa-solid fa-user-group"></i></p>
                            </div>
                            
    
                        </div>
    
                        <div class="menu">
    
                            <i class="fa-solid fa-ellipsis"></i>
    
                        </div>
    
                    </div>
                    <img src="{{ url_for('static', filename='image/post_3.png') }}">
    
    
                    <div class="info">
    
                        <div class="emoji_img">
                            <img src="{{ url_for('static', filename='image/like.png') }}">
                            <img src="{{ url_for('static', filename='image/haha.png') }}">
                            <img src="{{ url_for('static', filename='image/heart.png') }}">
                            <p>You, Charith Disanayaka and 25K others</p>
                        </div>
    
                        <div class="comment">
                            <p>421 Comments</p>
                            <p>1.3K Shares</p>
                        </div>
    
                    </div>
    
                    <hr>
    
                    <div class="like">
    
                        <div class="like_icon">
                            <i class="fa-solid fa-thumbs-up activi"></i>
                            <p>Like</p>
                        </div>
    
                        <div class="like_icon">
                            <i class="fa-solid fa-message"></i>
                            <p>Comments</p>
                        </div>
    
                        <div class="like_icon">
                            <i class="fa-solid fa-share"></i>
                            <p>Share</p>
                        </div>
    
                    </div>
    
                    <hr>
    
                    <div id="commentsSection">
                        <!-- Existing comments will be dynamically loaded here -->
                    </div>
                
                    <div class="comment_wrapper">
                        <img src="{{ url_for('static', filename='image/profile.png') }}" alt="Profile Picture" style="width: 50px; height: 50px;">
                        <div class="comment_search">
                            <form id="questionForm" class="questionForm">
                                <textarea class="form-control" id="question" rows="3" placeholder="Write a comment" required></textarea>
                                <i class="fa-regular fa-face-smile"></i>
                                <i class="fa-solid fa-camera"></i>
                                <i class="fa-regular fa-note-sticky"></i>
                                <button type="submit" class="btn btn-primary">Post</button>
                            </form>
                        </div>
                    </div>
    
                </div>
    
            <div class="friends_post">

                <div class="friend_post_top">

                    <div class="img_and_name">

                        <img src="{{ url_for('static', filename='image/profile_10.png') }}">

                        <div class="friends_name">
                            <p class="friends_name">
                                Senuda De Silva
                            </p>
                            <p class="time">16h.<i class="fa-solid fa-user-group"></i></p>
                        </div>
                        

                    </div>

                    <div class="menu">

                        <i class="fa-solid fa-ellipsis"></i>

                    </div>

                </div>
                <img src="{{ url_for('static', filename='image/post_4.jpg') }}">

                <div class="info">

                    <div class="emoji_img">
                        <img src="{{ url_for('static', filename='image/like.png') }}">
                        <img src="{{ url_for('static', filename='image/haha.png') }}">
                        <img src="{{ url_for('static', filename='image/heart.png') }}">
                        <p>You, Charith Disanayaka and 25K others</p>
                    </div>

                    <div class="comment">
                        <p>421 Comments</p>
                        <p>1.3K Shares</p>
                    </div>

                </div>

                <hr>

                <div class="like">

                    <div class="like_icon">
                        <i class="fa-solid fa-thumbs-up activi"></i>
                        <p>Like</p>
                    </div>

                    <div class="like_icon">
                        <i class="fa-solid fa-message"></i>
                        <p>Comments</p>
                    </div>

                    <div class="like_icon">
                        <i class="fa-solid fa-share"></i>
                        <p>Share</p>
                    </div>

                </div>

                <hr>

                <div id="commentsSection">
                    <!-- Existing comments will be dynamically loaded here -->
                </div>
            
                <div class="comment_wrapper">
                    <img src="{{ url_for('static', filename='image/profile.png') }}" alt="Profile Picture" style="width: 50px; height: 50px;">
                    <div class="comment_search">
                        <form id="questionForm" class="questionForm">
                            <textarea class="form-control" id="question" rows="3" placeholder="Write a comment" required></textarea>
                            <i class="fa-regular fa-face-smile"></i>
                            <i class="fa-solid fa-camera"></i>
                            <i class="fa-regular fa-note-sticky"></i>
                            <button type="submit" class="btn btn-primary">Post</button>
                        </form>
                    </div>
                </div>

            </div>


            <div class="loard">
                <button>Loard More</button>
            </div>

            <p class="end">Design By<span><i class="fa-regular fa-face-grin"></i>
            NBE Team</span></p>


        </div>

        <!------------------right------------------>
        <div class="right">
            <div class="first_warpper">
                <div class="page">
                    <h2>Your Pages and profiles</h2>
                    <div class="menu">
                        <i class="fa-solid fa-ellipsis"></i>
                    </div>
                </div>
        
                <div class="page_img">
                    <img src="{{ url_for('static', filename='image/page.jpg') }}" alt="Page Image">
                    <p>Web Designer</p>
                </div>
        
                <div class="page_icon">
                    <i class="fa-regular fa-bell"></i>
                    <p>20 Notifications</p>
                </div>
        
                <div class="page_icon">
                    <i class="fa-solid fa-bullhorn"></i>
                    <p>Create promotion</p>
                </div>
            </div>
        
            <hr>
        
            <div class="second_warpper">
                <h2>Birthdays</h2>
                <div class="img_and_tag">
                    <img src="{{ url_for('static', filename='image/gift.png') }}" alt="Gift">
                    <p><span>Senuda De Silva </span>and<span> 2 others </span>have birthdays today</p>
                </div>
            </div>
        
            <hr>
        
            <div class="third_warpper">
                <div class="contact_tag">
                    <h2>Contacts</h2>
                    <div class="contact_icon">
                        <i class="fa-solid fa-video"></i>
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-ellipsis"></i>
                    </div>
                </div>
        
                <div class="contact">
                    <img src="{{ url_for('static', filename='image/contact_1.jpg') }}" alt="Contact 1">
                    <p>Senuda De Silva</p>
                </div>
        
                <div class="contact">
                    <img src="{{ url_for('static', filename='image/contact_2.jpg') }}" alt="Contact 2">
                    <p>Senuda De Silva</p>
                </div>
        
                <div class="contact">
                    <img src="{{ url_for('static', filename='image/contact_3.jpg') }}" alt="Contact 3">
                    <p>Senuda De Silva</p>
                </div>
        
                <div class="contact">
                    <img src="{{ url_for('static', filename='image/contact_4.jpg') }}" alt="Contact 4">
                    <p>Senuda De Silva</p>
                </div>
        
                <div class="contact">
                    <img src="{{ url_for('static', filename='image/contact_5.jpg') }}" alt="Contact 5">
                    <p>Senuda De Silva</p>
                </div>
        
                <div class="contact">
                    <img src="{{ url_for('static', filename='image/profile_1.jpg') }}" alt="Profile 1">
                    <p>Senuda De Silva</p>
                </div>
        
                <div class="contact">
                    <img src="{{ url_for('static', filename='image/profile_2.jpg') }}" alt="Profile 2">
                    <p>Senuda De Silva</p>
                </div>
        
                <div class="contact">
                    <img src="{{ url_for('static', filename='image/profile_3.jpg') }}" alt="Profile 3">
                    <p>Senuda De Silva</p>
                </div>
        
                <div class="contact">
                    <img src="{{ url_for('static', filename='image/profile_4.png') }}" alt="Profile 4">
                    <p>Senuda De Silva</p>
                </div>
        
                <div class="contact">
                    <img src="{{ url_for('static', filename='image/profile_5.png') }}" alt="Profile 5">
                    <p>Senuda De Silva</p>
                </div>
        
                <div class="contact">
                    <img src="{{ url_for('static', filename='image/profile_6.png') }}" alt="Profile 6">
                    <p>Senuda De Silva</p>
                </div>
        
                <div class="contact">
                    <img src="{{ url_for('static', filename='image/profile_7.png') }}" alt="Profile 7">
                    <p>Senuda De Silva</p>
                </div>
            </div>
        </div>
        

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
$(document).ready(function () {
    // Function to add a new comment
    function addComment(commentText) {
        const commentHtml = `
            <div class="comment_wrapper">
    <img src="{{ url_for('static', filename='image/profile.png') }}" alt="Profile Picture" style="width: 50px; height: 50px;">
    <div class="comment_content">
        <p><strong>ِAhmed Ali </strong> <span class="comment_time">1 min ago</span></p>
        <p>${commentText}</p>
        <div class="comment_actions">
            <a href="#" class="like_button">Like</a> • 
            <a href="#" class="reply_button">Reply</a>
        </div>
    </div>
</div>

            <div class="mt-4 reply_section" style="display: none;">
                    <p class="response border p-3 bg-light"></p>
                </div>
        `;
        $('#commentsSection').append(commentHtml);
    }

    // Function to add a reply
    function addReply(replyText) {
        const replyHtml = `
            <div class="reply_wrapper">
                <img src="{{ url_for('static', filename='image/NBE.png') }}" alt="Profile Picture" style="width: 30px; height: 30px;">
                 <p><strong>البنك الأهلي المصري:</strong> ${replyText}</p>

            </div>
        `;
        
        // Append the reply to the latest comment's reply section and show it
        const latestReplySection = $('#commentsSection').find(' .reply_section:last');
        latestReplySection.html(replyHtml); // Insert the reply content
        latestReplySection.show(); // Show the reply section
    }

    // Handle form submission
    $('#questionForm').on('submit', function (e) {
        e.preventDefault();
        const question = $('#question').val().trim(); // Trim to avoid empty spaces

        if (!question) {
            alert("Please enter a comment.");
            return;
        }

        $('#question').val(''); 


        $.ajax({
            url: '/process',
            method: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({ question: question }),
            success: function (data) {
                $('#commentsSection').find('p:contains("Loading...")').remove(); // Remove the loading message
                addComment(question); // Add the new comment
                addReply(data.response); // Add the response as a reply
                $('#question').val(''); // Clear the textarea
            },
            error: function (xhr) {
                $('#commentsSection').find('p:contains("Loading...")').remove(); // Remove the loading message
                addComment(question); // Add the new comment
                addReply('An error occurred: ' + xhr.responseJSON.error); // Add the error message as a reply
                $('#question').val(''); // Clear the textarea
            }
        });
    });
});



    </script>
    
</body>
</html>